{% extends "layout.html" -%}
{% block title -%}{{ title -}} {% endblock -%}
{% block content %}

<div id="about" class="wrapper">
  
 	<h3>My career</h3>
	<a id="education"><b>College</b></a>

	<p>I'm a last-year Computer Engineering student that loves everything related with them. Historically it has been a self-made industry, innovating for the sake of perpetuating. I'm interested in it's interaction with society, in the forms of artificial intelligence, computational science, data mining, and so on. I also like the classics, though: programming (desktop, mobile, web, CLI, ...), networking, software engineering, computer architecture, Operative Systems and Information security.</p>

	<p>I am a self-educated person: I like studying by myself (it's hard but highly rewarding), looking at some technologies or knowledge that have either not seen on class or being key to pursue my career.</p>

	<a id="work"><b>Work</b></a>

	<p>I don't like the "workaholic" philosophy but I get work done when it needs to be done, responsible but with no high pressure. Being stressed worsens the quality of the work.</p>

	<p>Finally, I like to do some coding in my spare time. You can see some in my Github profile.</p>

</div>

{% endblock %}

