{% extends "layout.html" -%}
{% block title -%}{{ title -}} {% endblock -%}
{% block content %}

	{% if success %}
    	<p>Message sent successfully.</p>
	{% else %}

		<div id="about" class="wrapper">
 			<h2>Contact me</h2>

			<form action="{{ url_for('contact') }}" method=post>
    			{{ form.hidden_tag() }}
 
	    		{{ form.name.label }}
	    		{% for message in form.name.errors %}
  					{{ message }}<br/>
				{% endfor %}
	    		{{ form.name }}
	 
		    	{{ form.email.label }}
		    	{% for message in form.email.errors %}
  					{{ message }}<br/>
				{% endfor %}
    			{{ form.email }}
 
	    		{{ form.subject.label }}
	    		{% for message in form.subject.errors %}
  					{{ message }}<br/>
				{% endfor %}
	    		{{ form.subject }}
	 
			    {{ form.message.label }}
			    {% for message in form.message.errors %}
  					{{ message }}<br/>
				{% endfor %}
	    		{{ form.message }}

			    {{ form.csrf_token }}
 
		    	{{ form.submit }}
  			</form>
		</div>
		
	{% endif %}
{% endblock %}

