<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
        {% assets "less" -%}
            <link rel='stylesheet' type='text/css' href='{{ ASSET_URL }}'/>
        {% endassets -%} 
        {% assets "js" -%}
            <script type='text/javascript' src='{{ ASSET_URL }}'></script>
        {% endassets -%} 
        {#
            {% set test = scripts.push('/javascripts/jquery-1.9.1.min.js', '/javascripts/bootstrap.js') -%}
            {{ renderScriptsTags(scripts) -}} 
        -#}
	</head>
    <body>
    <h1>Jon [REDACTED]</h1>

    <div id="pages">
        <ul id="nav">
            <li><a href="/">Index</a></li>
            <li><a href="{{ url_for('career') }}">Career</a></li>
            <li><a href="{{ url_for('tech') }}">Technologies</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>
        {% block content%} {% endblock %}
        <footer>Powered by Flask.</footer>
    </body>
</html>