<!DOCTYPE html>
<html>
	<head>
		<title>Jon Juaristi Campillo — {% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.min.css">
		<script type='text/javascript' src='/static/javascripts/all.min.js'></script>
		{#- {% assets "less" -%}
		<link rel="{{ EXTRA.rel }}" type="text/css" href="{{ ASSET_URL }}">
		{% endassets -%}
		{% assets "js" -%}
		<script type='text/javascript' src='{{ ASSET_URL }}'></script>
		{% endassets -%} -#}
	</head>
    <body>
        <header>
            <h1><a href="/">Jon Juaristi Campillo</a></h1>
                {% block pages %} {% endblock %}
        </header>
        {% block content%} {% endblock %}
        <footer> Powered by <a href="http://python.org/">Python</a> and <a href="http://flask.pocoo.org/">Flask</a> | Running with <a href="http://gunicorn.org/">gunicorn</a> | Hosted in <a href="http://heroku.com/">Heroku</a> | <abbr title="Copyleft">©</abbr> 2013 <a href="/">Jon Juaristi Campillo</a></footer>
    </body>
</html>