{% extends "layout.html" -%}
{% block title -%}{{ title -}} {% endblock -%}
{% block content %}

<div id="about" class="wrapper">
 	<h2>My projects</h2>
	<div class="proj">
	<p>
		<b>UCAMI-IWAAL 2012</b> <span class="tenure">Oct–Nov 2012</span><br/>
		Mobile application for Android done in PhoneGap for the previously mentioned events held in Vitoria-Gasteiz, Spain from the 3rd to the 6th of december of 2012.<br/>
		<br/>
		<b>End of degree project</b> <span class="tenure">Jan-June 2013</span><br/>
		The project proposes a platform allowing generation of mobile apps that support different events, seminars or conferences.<br/>
		<br/>
		<b>Personal website</b> <span class="tenure">Sep 2013</span><br/>
		This website is made in Python using the Flask web microfrawemork, running in the gunicorn web server and deployed on Heroku. The projects uses the mainstream front end web technologies the likes of HTML5, CSS3 (powered by LESS), JavaScript and jQuery.<br/>
		<br/>
		<b>Fishbowl</b> <span class="tenure">2013–present</span><br/>
		A forum system made in node.js, with the data stored in PostgreSQL and manipulated via an ORM. It also has the feature of using Markdown as the marking language for the posts in general. The projects uses the mainstream front end web technologies the likes of HTML5, CSS3 (powered by SASS and Compass), JavaScript and jQuery.<br/>
	</p>
	</div>
</div>


{% endblock %}

