{% extends "layout.html" -%}
{% block title -%}{{ title -}} {% endblock -%}
{% block content %}

<div id="about" class="wrapper">
  
 	<h2>Technologies I've worked with</h2>

 	<h4>Operative systems:</h4>
	 	<div class="techn"><div class="sprite-img-debian"></div> <span>Debian-like</span></div>
	 	<div class="techn"><div class="sprite-img-fedora"></div> <span>Fedora </span></div>

 	<h4> Programming languages:</h4>
		<!--<div class="techn"><div class="sprite-img-coffeescript"></div> CoffeeScript</span></div>-->
		<div class="techn"><div class="sprite-img-cpp"></div> <span>C/C++ </span></div>
		<div class="techn"><div class="sprite-img-java"></div> <span>Java </span></div>
		<div class="techn"><div class="sprite-img-js"></div> <span>JavaScript </span></div>
		<div class="techn"><div class="sprite-img-python"></div> <span>Python </span></div>
		<div class="techn"><div class="sprite-img-ruby"></div> <span>Ruby </span></div>


	<h4>Database management systems:</h4>
		<div class="techn"><div class="sprite-img-mysql"></div> <span>MySQL </span></div>
		<div class="techn"><div class="sprite-img-oracle"></div> <span>Oracle 11g </span></div>
		<div class="techn"><div class="sprite-img-postgresql"></div> <span>PostgreSQL </span></div>
		<div class="techn"><div class="sprite-img-couchdb"></div> <span>CouchDB </span></div>
		<div class="techn"><div class="sprite-img-redis"></div> <span>Redis </span></div>
	
	<h4>Web technologies:</h4>
		<!--<div class="techn"><div class="sprite-img-angularjs"></div> <span>AngularJS</span></div>-->
		<div class="techn"><div class="sprite-img-css"></div> <span>CSS </span></div>
		<div class="techn"><div class="sprite-img-html5"></div> <span>HTML </span></div>
		<div class="techn"><div class="sprite-img-jquery"></div> <span>jQuery </span></div>
		<div class="techn"><div class="sprite-img-node"></div> <span>NodeJS </span></div>
		<div class="techn"><div class="sprite-img-django"></div> <span>Django </span></div>
		<div class="techn"><div class="sprite-img-flask"></div> <span>Flask</span> </div>
		<div class="techn"><div class="sprite-img-jinja"></div> <span>Jinja2</span> </div>
		<div class="techn"><div class="sprite-img-gunicorn"></div> <span>Gunicorn</span> </div>


	<h4>Mobile development:</h4>
		<div class="techn"><div class="sprite-img-apachecordova2"></div> <span>PhoneGap</span></div>
				<div class="techn"><div class="sprite-img-jquerymobile"></div> <span>jQuery Mobile</span></div>
		
	<h4>CSS preprocesors:</h4>
		<div class="techn"><div class="sprite-img-compass"></div> <span>Compass</span> </div>
		<div class="techn"><div class="sprite-img-less"></div> <span>LESS</span> </div>
		<div class="techn"><div class="sprite-img-sass"></div> <span>Sass</span> </div>
		<div class="techn"><div class="sprite-img-stylus"></div> <span>Stylus</span> </div>
		<!--<div class="techn"><div class="sprite-img-inuitcss"></div> <span>inuit.css</span> </div>-->

	<h4>Other software:</h4>
		<div class="techn"><div class="sprite-img-gimp2"></div> <span>Gimp</span> </div>
		<div class="techn"><div class="sprite-img-git"></div> <span>Git</span> </div>
		<div class="techn"><div class="sprite-img-inkscape"></div> <span>Inkscape</span></div>
</div>


{% endblock %}

