{% extends "layout.html" -%}
{% block title -%}{{ title -}} {% endblock -%}
	{% block pages %}
			<nav>
				<a class="link" href="{{ url_for('resume') }}">Résumé</a>
				<a class="current"  href="{{ url_for('tech') }}">Tech</a>
				<a class="link" href="{{ url_for('projects') }}">Projects</a>
				<a class="link" href="{{ url_for('contact') }}">Contact</a>
			</nav>
	{% endblock %}

	{% block content %}
		<div id="about" class="tecnologies">
  			<h2>Technologies I've worked with</h2>
			<h4>UNIX-like operative systems:</h4>
 			<div align="center">
	 			<div class="techn"><div class="sprite-img-debian"></div> <span>Debian</span></div>
	 			<div class="techn"><div class="sprite-img-fedora"></div> <span>Fedora </span></div>
	 			<div class="techn"><div class="sprite-img-mint"></div> <span>Mint</span></div>
	 			<div class="techn"><div class="sprite-img-ubuntu"></div> <span>Ubuntu</span></div>
	 		</div>
 			<h4> Programming languages:</h4>
 			<div align="center">
				<!--<div class="techn"><div class="sprite-img-coffeescript"></div> CoffeeScript</span></div>-->
				<div class="techn"><div class="sprite-img-cpp"></div> <span>C/C++ </span></div>
				<div class="techn"><div class="sprite-img-java"></div> <span>Java SE</span></div>
				<div class="techn"><div class="sprite-img-js"></div> <span>JavaScript</span></div>
				<div class="techn"><div class="sprite-img-python"></div> <span>Python</span></div>
				<!--<div class="techn"><div class="sprite-img-ruby"></div> <span>Ruby</span></div>-->
			</div>


			<h4>Database management systems:</h4>
			<div align="center">
				<div class="techn"><div class="sprite-img-mysql"></div> <span>MySQL</span></div>
				<div class="techn"><div class="sprite-img-oracle"></div> <span>Oracle</span></div>
				<div class="techn"><div class="sprite-img-postgresql"></div> <span>PostgreSQL </span></div>
				<div class="techn"><div class="sprite-img-sqlite"></div> <span>SQLite</span></div>
				<div class="techn"><div class="sprite-img-couchdb"></div> <span>CouchDB</span></div>
				<div class="techn"><div class="sprite-img-mongodb"></div> <span>MongoDB</span></div>
				<div class="techn"><div class="sprite-img-redis"></div> <span>Redis</span></div>
			</div>
			<h4>Web technologies:</h4>
			<div align="center">
				<div class="techn"><div class="sprite-img-css"></div> <span>CSS3</span></div>
				<div class="techn"><div class="sprite-img-html5"></div> <span>HTML5</span></div>
				<div class="techn"><div class="sprite-img-jquery"></div> <span>jQuery</span></div>
				<div class="techn"><div class="sprite-img-node"></div> <span>Node.js</span></div>
				<div class="techn"><div class="sprite-img-django"></div> <span>Django</span></div>
				<div class="techn"><div class="sprite-img-flask"></div> <span>Flask</span> </div>
				<div class="techn"><div class="sprite-img-jinja"></div> <span>Jinja2</span> </div>
				<div class="techn"><div class="sprite-img-knockback"></div> <span>Knockback.js</span></div>
				<div class="techn"><div class="sprite-img-gunicorn"></div> <span>Gunicorn</span> </div>
			</div>
			<h4>Mobile development:</h4>
			<div align="center">
				<div class="techn"><div class="sprite-img-apachecordova2"></div> <span>PhoneGap</span></div>
				<div class="techn"><div class="sprite-img-jquerymobile"></div> <span>jQuery</span></div>
			</div>
			<h4>CSS preprocessors:</h4>
			<div align="center">
				<div class="techn"><div class="sprite-img-compass"></div> <span>Compass</span> </div>
				<div class="techn"><div class="sprite-img-less"></div> <span>LESS</span> </div>
				<div class="techn"><div class="sprite-img-sass2"></div> <span>Sass</span> </div>
				<div class="techn"><div class="sprite-img-stylus"></div> <span>Stylus</span> </div>
				<!--<div class="techn"><div class="sprite-img-inuitcss"></div> <span>inuit.css</span> </div>-->
			</div>
			<h4>Other software:</h4>
				<div align="center">
				<div class="techn"><div class="sprite-img-gimp2"></div> <span>Gimp</span> </div>
				<div class="techn"><div class="sprite-img-git"></div> <span>Git</span> </div>
				<div class="techn"><div class="sprite-img-inkscape"></div> <span>Inkscape</span></div>
			</div>
		</div>
	{% endblock %}

